
body
{
	background-image: url(images/tlo.png);
	
	/* This pattern is downloaded from www.subtlepatterns.com 
 If you ned more, that's where to get'em.
*/
	color: #ffffff;
	background-size:contain;        /*100%-wysokości*/
	background-size:cover;         /*100%-szerokości*/
	margin: 0 !important;
	font-family: Impact;
	font-style: italic;
}
#container
{  
	margin-left: auto;
	margin-right: auto;
	color: #hsjufb;
	text-align: center;
	width: 100%;
	
}
.nav
{
	width: 100%;
	height: 60px;
	margin: 0px;
	position: fixed;
	z-index: 100;
}
#logo
{
	height: 60px;
	background-color: #2F4F4F;
	width: 20%;
	padding: 5px;
	color: #ffffff;
	float: left;
}

.menu
{   
    padding: 15px;
	height: 60px;
	background-color: #F9E04B;
	float: left;
	width: 20%;
	color: #2F4F4F;
	font-size: 27px;
	border-right: dotted 1px #2F4F4F;
}
.menu:hover
{
	background-color: #F9E999;
	color: #2F4345;
}

#zdjecie
{
	margin: 0;
	clear: both;
	height: 100%;
	width: 100%;
}
#tlo
{
	background-size:cover;
	width: 100%;
	height: 100%;
	font-size: 30px;
	font-family: monospace;
	padding-top: 60px;
}
#formularz
{
	height: 600px;
	padding: 40px;
	font-style: normal;
	letter-spacing: 1px;
	font-family: sans-serif;
}
#stopka
{
	background-color: #262F38;
	height: 40px;
	font-family: arial;
	font-size: 16px;
	padding: 10px;
	top: 0;
	margin: 0;
	
}
img
{
	width: 100%;
	height: 100%;
	
}
#napisnazdjeciu
{
	color: #2F4F4F;
	background: #F9E04B;
	padding: 2px;
	width: 250px;
	text-align: center;
	border-radius: 4px;  
    bottom: 7%;
	left: 7%;
    position: absolute;
	
	
}
#napisnazdjeciu:hover
{
	background-color: #F9E999;
	color: #2F4345;
}
.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	
}
.sticky2
{
	width: 100%;
	position: fixed;
	right: 0;
	z-index: 100;
	
}
.social
{
	z-index: 100;
	color: #FFFFFF;
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: 1px;
	right: 0;
	position: fixed;
}
.social:hover
{
	width: 70px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
a:hover
{     
	text-decoration: none; 
} 
.zdj
{
	margin-left: auto;
	margin-right: auto;
    bottom: 2%;
    position: absolute;
	left: 50%;
	
}
.zdj1
{
	background: rgba(255, 255, 255, 0.5);
	width: 30px;
	height: 30px;
	border-radius: 80px;  
	float: left;
	margin: 5px;
}
.zdj1:hover
{
	background: #F9E04B;
	width: 30px;
	height: 30px;
	border-radius: 80px;  
}
input
{
	margin-top: 1%;
	margin-bottom: 1%;
	border-radius: 5px;
	color: #000000;
	width: 15%;
	height: 5%;
}
#id_Text
{
	border-radius: 5px;
	color: #000000;
	width: 60%;
	height: 50%;
}
input:hover
{
	cursor: pointer;
	color: #2F4F4F;
	background-color: #E6E6E6;
	border: 1px solid #F9E04B;
	border-radius: 5px;
}
#id_Text:hover
{
	cursor: pointer;
	color: #2F4F4F;
	background-color: #E6E6E6;
	border: 1px solid #F9E04B;
}
input[type=submit]
{
	outline: none;
	border-radius: 5px;
	margin-top: 5px;
	width: 80px;
	height: 7%;
}
input[type=submit]:hover
{
	cursor: pointer;
	color: #2F4F4F;
	background-color: #E6E6E6;;
	border: 1px solid #F9E04B;
}
